@page
@{

}
<h1>Add Picture to Gallery</h1>


@{
    if (ViewBag.Success != null)
    {
        <p class="alert-success">@(ViewBag.Success)</p>
    }
    else if( ViewBag.Error != null)
    {
        <p class="alert-danger">@(ViewBag.Error)</p>
    }

}

    <form action="/Picture/Upload" method="post" enctype="multipart/form-data" id="form-picture-create">
        <label>
            Picture Title
            <input type="text" id="title" name="title" value="@(ViewBag.Title)" />
        </label>
        <label>
            Upload picture
            <input type="file" id="files" name="files" accept="image/png, image/jpg" multiple />
        </label>
        <input class="btn btn-primary" type="submit" value="Add picture" />
    </form>