@page
@{
    
}
<h1>Add Picture to Gallery</h1>

<form>
    <label>
        Title
        <input type="text" id="title" name="title" />
    </label>
    <label>
        Upload picture
        <input type="file" id="picture" name="picture" accept="image/png, image/jpg" />
    </label>
</form>