@page
@{
}
<h1>List Pictures</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>You are logged in</p>
}

@if (!User.Identity.IsAuthenticated)
{
    <p>You are logged out</p>
}

@foreach(System.IO.FileInfo file in ViewBag.Files)
{
    <img src="~/uploads/@(file.Name)" />
}